<div class="container" >
  <div class="row">
    <div class="col-lg-3">
    <%= render "userpfp" %>
    </div>
    <% if current_user.manager? %>
    <div class="col-lg-9">
    <%= render "manager_panel" %>
    </div>
    <% end %>

    <% if current_user.developer? %>
    <div class="col-lg-9">
    <%= render "dev_panel" %>
    </div>
    <% end %>


    <% if current_user.qa? %>
    <div class="col-lg-9">
    <%= render "qa_panel" %>
    </div>
    <% end %>
  </div>
</div>




