<%= form_with(model: @project, local: true ) do |form| %>
  <%= render 'layouts/error', obj: @project %>
  <div class="form-group mb-2">
    <% form.label :name, style: "display: block"  %>
    <%= form.text_field :name, class:"form-control", placeholder:"Project Name" %>
  </div>
  <div>
  <br>
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
