<div class="m-3">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <%= render "user_projects/table", project: @projects %>
  </table>
  <% if current_user.manager? %>
  <%= link_to "New Project", new_project_path, class:'btn btn-secondary'%>
  <% end %>
  <%= link_to "Back To Home", authenticated_root_path, class:'btn btn-primary'%>
</div>

