<h1>Edit Form</h1>
<br>
<%= render "bugs/form", bug: @bug %>
<br>
<div>
  <%= render "layouts/dev_qa_buttons" %>
  <%= link_to "Back To Home", authenticated_root_path, class:'btn btn-primary'%>
</div>
