<h1>Edit Form</h1>
<br>
<%= render "bugs/form", bug: @bug %>
<br>
<div>
  <%= link_to "My Bugs", assigned_bugs_path("list"), class:"btn btn-success" %><br/><br/>
  <%= link_to "Back To Home", authenticated_root_path, class:'btn btn-primary'%>
</div>
