<h1>Submission Form</h1>

<form id="new_submission" >
<%# <input type="hidden" name="authenticity-token" value="<%= form_authenticity_token %>
<input type="hidden" name="submission[stripe_payment_id]" id="payment" >
  <div class="field">
    <label for="title">Title</label>
    <input type="text" id="title" name="submission[title]">
  </div>
  <div class="field">
    <div id="card" ></div>
  </div>
  <input type="submit" value="Create Submission">
</form>

