<%= form_for bugs_path,id: 'bugs_form', method: :get do %>
<div class="wrapper">
<div class="search-input">
<%=  text_field_tag :query, params[:query], id: 'bugs_search', name: :query, class:"typeahead", autocomplete: :off, :onclick => 'loadBugs()' %>
<%= text_field_tag :status, params[:status] ,type: :hidden, id: 'status' %>
<%= submit_tag 'Search', name: nil , class:'btn btn-warning search-btn' %>
<div class='autocom-box' >
</div>
</div>

</div>

<% end %>
<div id="divSearch"></div>
